/* Date Jan 19 2019 */

:root {
    --background-color-body: rgba(48, 58, 81, 0.96); /*background color of body*/

    /*Playlist Variables*/
    --playlistName-color: #616879; /*color of playlist name*/
    --playlistDesc-color:#F5F5DC; /*color of playlist description text*/
    --playlist-bottomBorder-color:#F5F5DC; /* color of bottom border for a playlist */

    /*Song card Variables*/
    --songCard-title-color: #f0f0f0; /*color of title in songCard */
    --songCard-background-color: #649bb0; /*songCard background color */
    --songCard-background-colorHover:#7e7836 ; /*songCard background color when hovering */
    --songCard-button-color: #9eaf6e;/*songCard button color*/
    --songCard-button-colorHover:rgba(119, 50, 50, 0.91); /*songCard button color when hovering */

    /*Player variables */
    --playerContainer-button-backgroundColor: rgba(104, 88, 98, 0.56); /*color of player buttons*/
    --playerContainer-buttonText-color:white; /*color of text inside player buttons*/
    --playerContainer-title-color:#ffffff;/*color of song name in player Container*/
    --playerContainer-duration-color:beige; /* color of timer in player container*/
    --slider-background-color:black;/*background color of volume slider*/

    /*footer variables*/
    --footer-background-color:rgba(97, 85, 97, 0.99) !important; /*background color of footer*/
}

body {
    /*     font-family: 'Poiret One', cursive; */
    font-family: Optima, Courier New, Courier, mono;
    background: var(--background-color-body) linear-gradient(72deg, var(--background-color-body), #685762 90%);

}
.container {
    position: absolute;
    width: 300px!important;
    right: 60px;
}

.playlist {
    padding-top: 100px;
}



.playlist ul {
    list-style: none;
    padding: 0;
}


/*playlist styles*/

#playlistList {
    width: 100%;
    margin: 0;
}

.playlistName {
    color: var(--playlistName-color);
    font-size: 25px;
    margin: 0;
    text-align: center;
}

.playlistDesc {
    color: var(--playlistDesc-color);
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}

.playlistCard {
    height: auto;
    width: 85%;
    max-height: 600px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--playlist-bottomBorder-color);
    margin: 0 auto;
}

.meta {

    width: 100%;
    margin: 0 auto;
}



.playlistCard img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;

}


/*player container styles*/

.sticky {
    position: fixed;
    margin: 5% auto;
    left: 0;
    right: 0
}

.playerCont {
    right: 0;
    width: 90%;
    margin: 70px auto 0;
    background-position: center;
    background-size: cover;
    padding-bottom: 20px;
    transition: postion,margin,transform,top 2s ease 0s;
}

.playerCont .playerInnerCont {
    width: 100%;
    height: 100%;

}

.playerCont .heading {
    background-color: transparent;

}

.playerCont .title {

    display: inline-block;
    padding-right: 7px;
    padding-top: 7px;
    color: var(--playerContainer-title-color);
    font-size: 22px;
    float: right;
}

.playerCont .duration {
    display: inline-block;
    color: var(--playerContainer-duration-color );
    font-weight: 100;
    margin-top: auto;
    margin-bottom: auto;
    transform: translateY(12px) translateX(-15px);
    float: right;
    margin-right: 12px;
    font-size: 16px;

}

.playerCont .wave {

    background-color: transparent;

}

.playerCont .btnCont {
    text-align: center;
    height: auto!important;
}

.playerCont button {
    margin: 5px 2px;
    background-color: var(--playerContainer-button-backgroundColor);
    border: none;

    font-family: 'Optima', cursive;
    color: var(--playerContainer-buttonText-color);
    font-size: 15px;
}

.playerCont button:hover {
    background-color: var(--playlistName-color);
    transition: background-color 300ms;
}

.playerCont button i {
    padding: 0 16px;
}

.wave {
    height: 90px !important;
    width: 80%;
    margin: 0 auto;
}
.wave wave{
    overflow: visible!important;
}

.navContainer {
    width: 510px;
    margin: 60px auto auto;
}

#slider {
    width: 150px;
    height: 15px;
    margin: 0 auto;
}

#slider.ui-slider {
    background-color: var(--slider-background-color);
}

#slider .ui-slider-handle {
    display: none;
}

#footer {
    background-color: var(--footer-background-color);
}

#backgroundMN {
    background: url("../images/backgroundMN.jpg") no-repeat center;
    background-size: cover;
}

#backgroundBL {
    background: url("../images/backgroundBL.jpg") no-repeat center;
    background-size: cover;
}

#backgroundJBK {
    background: url("../images/backgroundJBK.jpg") no-repeat center;
    background-size: cover;
}

#background2 {
    background: url("../images/background2.jpg") no-repeat center;
}
#transparent{

    background-color: rgba(0, 0, 0, 0.24);
}



/*song card styles*/


.songCard {
    background-color: var(--songCard-background-color);
    width: 40%;
    height: 20px;
    margin-bottom: 4px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: inset 10px 10px 50px 5px #c9bd3e;
}

.songCard:hover {
    background-color: var(--songCard-background-colorHover);
    cursor: pointer;
    transition: transform 300ms;

}

.songCard .title {
    color: var(--songCard-title-color);
    width: 90%;
    margin: auto;
    padding-top: 5px;
    display:none;
}


.songCard .btn {
    float: left;
    background-color: var(--songCard-button-color);
    height:100% ;
    border: none;
    display: block;
    padding: 0 5px 0 5px;
}

.songCard .btn:hover {
    background-color: var(--playerContainer-button-backgroundColor);
    transition: background-color 300ms;
}

.songCard .btn i {
    font-size: 15px;
    color: rgba(55, 53, 53, 0.91);
    display: inline-block;
}

.songCard .btn:hover i {
    color: var(--songCard-button-colorHover);
}

#footer .footer_disclaimer  a{
    color: black!important;
}

@media (max-width: 800px ) {


    .playerCont{
        position: fixed;
        width: 100%!important;
        margin-top: 0px;
    }

    .playerInnerCont {


        height: auto;
        padding: 0!important;
    }
    .playerCont .btnCont{
        width: 100%;
    }
    .playerCont button {
        width: 160px;
        padding: 2px;
    }

    .playlistCard {
        width: 100%;

    }

    .songCard .title {
        font-size: 0.9rem;
    }

    body .container {
        margin-top: 380px !important;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100px; /* Need a specific value to work */

    }

    body > .container ~ .container {
        margin-top: 100px !important;
    }
}

